.pytest_cache
.vscode
node_modules
.editorconfig
.envrc
.gitlab-ci.yml
connection-info/
*.db
.venv
.env
backend/.env
backend/etl-data
backend/mod-data
.vagrant
.run
.idea
.vscode
frontend/node_modules
