repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.8.0
    hooks:
      - id: eslint
        files: \.vue|js$
        types: [file]
        additional_dependencies:
        - "eslint@8.32.0"
        - "eslint-plugin-import@2.25.3"
        - "eslint-plugin-node@11.1.0"
        - "eslint-plugin-promise@4.3.1"
        - "eslint-plugin-standard@4.1.0"
        - "eslint-plugin-vue@9.6.0"
        - "babel-eslint@10.1.0"
        - "@vue/eslint-config-standard@5.1.2"
